.navbar {
    background-color:#FA652D !important ;
    border-color: golden ;
}

.navbar-nav a {
		color: white ;
}

.navbar-nav li {
    color: white ;
    list-style-type: none;
}


.wantedText {
    font-size: 150%;
    font-weight: bold;
    position: absolute;
	  text-align: center;
    top: 10px;
    left: 20%;
	  right: 20%;
    border-radius: 15px;
    background-color: white;
    opacity: 0.7;
}

.wantedText2 {
    font-size: 200%;
    color: white;
    font weight: bold;
    position: absolute;
    top: 35%;
    left: 20%;
	  right: 20%;
}



span {
    color: orange;
}


.card2:hover .wantedText {
    display: none;

}

.card2:hover .wantedText2 {
    display: none;

}
.card {
	background-color: black ;
}
.card p {
	color: grey;
}
.card-img-top{
    opacity:0,5;
}
.card img:hover {
    opacity: 1;
    transition: 1s;
}

.box:hover .wantedText {
    display: none;

}

.card:hover .wantedText2 {
    display: none;

}



************///

@font-face {
  font-family: "font-titres";
  font-style: normal;
	src:url( 'font/partybusiness.ttf');
}
@font-face {
	font-family: "font-polices";
	font-style: italic;
	src: url("font/anirb.ttf");
}
@font-face {
	font-family: "font-dec";
	font-weight: bold;
	src: url('font/tnganbi.ttf');
}


body {
	font-family: "font-polices", Helvetica, Arial, sans-serif;
}
h1 {
    font-family: "font-dec", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
}

p {
    font-family: "font-dec";
	font-style: normal;
	font-weight: normal;
}